/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .field_with_errors {
     border-left: 2px solid red;
 }

 a {
     color: rgb(124, 86, 42);
     text-decoration: none;
 }
 
 h2 {
     color: forestgreen;
 }

 p {
     color: grey;
 }

 .wrapper {
     margin-top: 90px;
 }

 .header {
      margin-top: -90px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida sans', Arial;
     display: flex;
     background-color: whitesmoke;
     position: fixed;
     width: 100%;
     opacity: 0.95;
     box-shadow: 5px 2px #ebebeb;
     z-index: 10; }
     .header .title {
            font-size: 24px;
        height: 50px;
        color: white;
        background-color: rgb(57, 83, 39);
        margin: 5px;
        padding: 5px; }
    .header .username {
        margin: auto 5px auto auto;
        flex: 1,2; }
    .header .nav {
        display: flex;
        margin: 0 5px 0 5px; }
        .header .nav div {
            padding: 10px;
            background-color: white;
            margin: 10px;
            border-radius: 5px; }
            .header .nav div a {
            color: rgb(19, 54, 20);
            text-decoration: none; }
            .header .nav div:hover {
                cursor: pointer;
                background-color: rgb(97, 65, 28);
                transition: 0.5s ease; }
                .header .nav div:hover a {
                  color: white; }
